{dialyzer,[{plt_apps, all_deps},
           {warnings, [error_handling,
                       race_conditions,
                       unknown,
                       unmatched_returns,
                       no_improper_lists]}]}.

{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_untyped_record]}.

{deps, [{getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", {tag, "v1.0.1"}}}]}.

{escript_incl_apps, [fermat, getopt]}.
{escript_main_app, fermat}.
{escript_name, fermat}.
{escript_emu_args, "%%! +sbtu +A1\n"}.


%% Profiles
{profiles, [{test, [{deps , [{meck, ".*", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.12"}}}]},
                    {erl_opts, [debug_info]}]},
            {native, [{erl_opts, [native, {hipe, [o3]}]}]}]}.
