{dialyzer,[{plt_apps, all_deps},
           {warnings, [error_handling,
                       race_conditions,
                       unknown,
                       unmatched_returns,
                       no_improper_lists]}]}.

{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_untyped_record]}.

{deps, [{getopt,     ".*", {git, "git://github.com/jcomellas/getopt.git", {tag, "v1.0.1"}}},
        {splay_tree, ".*", {git, "git://github.com/sile/erl-splay-tree.git", {tag, "1.1.0"}}}]}.

{escript_incl_apps, [fermat, getopt]}.
{escript_main_app, fermat}.
{escript_name, fermat}.
{escript_emu_args, "%%! +sbtu +A1\n"}.


%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
